    @{ 

        Layout = "~/Views/shared/_layout.cshtml";
    }

    <!-- Page Title -->
    <div class="page-title" data-aos="fade">
        <div class="heading">
            <div class="container">
                <div class="row d-flex justify-content-center text-center">
                    <div class="col-lg-8">
                        <h1>About Us<br></h1>
                        <p class="mb-0">Odio et unde deleniti. Deserunt numquam exercitationem. Officiis quo odio sint voluptas consequatur ut a odio voluptatem. Sit dolorum debitis veritatis natus dolores. Quasi ratione sint. Sit quaerat ipsum dolorem.</p>
                    </div>
                </div>
            </div>
        </div>
        <nav class="breadcrumbs">
            <div class="container">
                <ol>
                    <li><a href="/home/index">خانه</a></li>
                    <li class="current">درباره ما<br></li>
                </ol>
            </div>
        </nav>
    </div><!-- End Page Title -->
    <!-- About Us Section -->
    <section id="_About-2" class="section about-us">

        @{ 
            Html.RenderAction("_About", "Component", new { id = 2 });
        }

    </section><!-- /About Us Section -->
    

@{
    Html.RenderAction("_counter2", "Home");

 }

