
@{
    Layout = "~/views/shared/_layout.cshtml";
}


<!-- Hero Section -->
<section id="_Banners-1" class="hero section dark-background">

    @{
        Html.RenderAction("_Banners", "Component", new { id = 1 });
    }

</section><!-- /Hero Section -->
<!-- About Section -->
<section id="_About-1" class="about section">

    @{
        Html.RenderAction("_About", "Component", new { id = 1 });
    }

</section>

<!-- Courses Section -->
<section id="courses" class="courses section">

    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
        <h2>دوره ها</h2>
        <p>دوره های پرطرفدار</p>
    </div><!-- End Section Title -->

    <div class="container">

        <div class="row">

            @{
                Html.RenderAction("_Courses", "Component");
            }
        </div>
    </div>

</section><!-- /Courses Section -->
<!-- Trainers Index Section -->
<section id="trainers-index" class="section trainers-index">

    <div class="container section-title" data-aos="fade-up">
        <h2>اساتید</h2>
        <p>اساتید برتر</p>
    </div><!-- End Section Title -->
    <div class="container">

        <div class="row">

            @{ 
                Html.RenderAction("_Teachers", "Component");
            }
        </div>
    </div>

</section><!-- /Trainers Index Section -->

@{
    Html.RenderAction("_counter2", "Home");

}




