
@{
    ViewBag.Title = "trainers";
    Layout = "~/Views/shared/_layout.cshtml";
}

    <!-- Page Title -->
    <div class="page-title" data-aos="fade">
        <div class="heading">
            <div class="container">
                <div class="row d-flex justify-content-center text-center">
                    <div class="col-lg-8">
                        <h1>Trainers</h1>
                        <p class="mb-0">Odio et unde deleniti. Deserunt numquam exercitationem. Officiis quo odio sint voluptas consequatur ut a odio voluptatem. Sit dolorum debitis veritatis natus dolores. Quasi ratione sint. Sit quaerat ipsum dolorem.</p>
                    </div>
                </div>
            </div>
        </div>
        <nav class="breadcrumbs">
            <div class="container">
                <ol>
                    <li><a href="/home/index">خانه</a></li>
                    <li class="current">اساتید</li>
                </ol>
            </div>
        </nav>
    </div><!-- End Page Title -->
    <!-- Trainers Section -->
    <section id="trainers-index" class="section trainers-index">
        <div class="container">
            <div class="row">

                @{
                    Html.RenderAction("_Teachers", "Component");
                }
            </div>
        </div>
    </section>